/*
* ===============
*    BLOG
* ===============
*/
.blog {
  background-color: #fff;
  &__content {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 3rem;
  }

  &__image {
    position: relative;
    margin-bottom: 1.5rem;
  }

  &__img {
    border-radius: 0.5rem;
  }

  &__button {
    display: inline-flex;
    background-color: #fff;
    padding: 1.15rem;
    border-radius: 0.5rem 0 0.5rem 0;
    font-size: 2rem;
    color: var(--title-color);
    position: absolute;
    right: 0;
    bottom: 0;

    & i {
      transition: 0.4s;
    }

    &:hover i {
      transform: translateX(0.25rem);
    }
  }

  &__title {
    font-size: var(--h2-font-size);
    margin-bottom: 0.75rem;
  }

  &__description {
    padding: 0 0.5rem 1rem 0;
  }

  &__footer,
  &__reaction {
    display: flex;
    align-items: center;
  }

  &__footer {
    column-gap: 1.5rem;
  }

  &__reaction {
    column-gap: 0.25rem;

    & i {
      font-size: 1.25rem;
    }

    & span {
      font-size: var(--small-font-size);
    }
  }
}
