/*
* ===============
* BREAKPOINTS 
*===============
*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-inline: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 767px) {
  .section {
    padding: 6rem 0 3rem;
  }

  .header {
    &__toggle {
      font-size: 2rem;
    }
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .features {
    &__container {
      padding: 2.5rem 3rem;
    }
  }

  .book {
    &__content {
      gap: 4rem;
    }
    &__data {
      order: initial;
      align-items: center;
      margin-block: auto;
      max-width: 600px;
      margin-right: auto;
    }
    &__img {
      width: 400px;
    }
  }

  .newsletter__container {
    grid-template-columns: max-content max-content;
    justify-content: center;
    align-items: center;
    padding: 4.5rem 2rem;
    column-gap: 5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-inline: auto;
  }
  .section__title {
    margin-bottom: 4rem;
  }
}

@media screen and (min-width: 1400px) {
  .services {
    &__card {
      width: min(100%, 950px);
    }
  }
}
