/*=============== BREAKPOINTS ===============*/

/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-inline: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 767px) {
  .section {
    padding: 8rem 0 1rem;
  }

  .header {
    &__nav {
      height: calc(var(--header-height) + 1.5rem);
    }
    &__toggle {
      font-size: 2rem;
    }
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-inline: auto;
  }
}
