/*=============== BREAKPOINTS ===============*/

/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-inline: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 767px) {
  .section {
    padding: 8rem 0 1rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-inline: auto;
  }
}
