/*
* ===============
*    features 
* ===============
*/
.features {
  background-color: #fff;
  &__container {
    background-color: var(--text-color);
    padding: 1.5rem 2rem;
    border-radius: 1rem;
  }

  &__title {
    color: #fff;
    font-weight: var(--font-bold);
  }

  &__content {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
  }

  &__card {
    background-color: #fff;
    padding: 1.5rem 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transition: 0.4s;

    &:hover {
      transform: translateY(-0.3rem);
    }

    &:hover i {
      color: var(--first-color);
    }
  }

  &__icon {
    width: 55px;
    height: 55px;
    background-color: var(--black-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    transition: 0.3s;
    & i {
      transition: 0.3s;
      font-size: 1.25rem;
    }
  }

  &__card-title {
    margin-bottom: 1rem;
    font-size: var(--h2-font-size);
  }

  &__card-description {
    font-size: var(--smaller-font-size);
    color: var(--text-color);
  }
}
