/*
* ===============
*  FOOTER 
* ===============
*/
.footer {
  padding: 4rem 0 2rem;
  background-color: hsl(206, 12%, 12%);

  &__title {
    color: #fff;
    text-transform: uppercase;
    font-size: var(--h1-font-size);
    margin-bottom: 0.75rem;
  }

  &__description {
    font-size: var(--small-font-size);
  }

  &__content {
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--text-color);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  &__subtitle {
    color: #fff;
    font-size: var(--h2-font-size);
    margin-bottom: 1rem;
  }

  &__group {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
  }

  &__link {
    display: inline-flex;
    margin-bottom: 0.75rem;
    font-size: var(--small-font-size);
    color: #fff;
    transition: 0.4s;
    &:hover {
      color: var(--first-color);
      text-decoration: underline;
    }
  }
  &__group {
    display: flex;

    flex-wrap: wrap;
    gap: 1rem;
  }

  &__copy {
    flex: 150px 1;
    font-size: var(--smaller-font-size);
  }

  &__privacy {
    font-size: var(--smaller-font-size);
    display: flex;
    align-items: center;
    gap: 2rem;
    & a {
      color: var(--text-color);
      transition: 0.4s;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__links-social {
    display: inline-flex;
    gap: 2rem;
  }

  &__social-link {
    color: #fff;
    transition: 0.4s;
    font-size: 1.25rem;
    &:hover {
      color: var(--first-color);
    }
  }
}

/*
* ===============
*   SCROLL BAR 
* ===============
*/
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: hsl(206, 4%, 80%);
}
::-webkit-scrollbar-thumb {
  background-color: hsl(206, 4%, 64%);
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(206, 4%, 48%);
}
