/*
* =======================
*  REUSABLE CSS CLASSES 
* =======================
*/
.container {
  max-width: 1200px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 4.5rem 0 2rem;

  &__title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 3rem;
    text-align: center;
  }
}
